#logo
  position absolute
  top: 50%
  left: 50%
  width:w=150px
  height:h=80px
  margin-left -(w/2)
  margin-top -(h/2)

#logo2
  position absolute
  top: 50%
  left: 50%
  width:150px
  height:80px
  margin-left -(@width/2)
  margin-top -(@height/2)
  
position()
  position:arguments
  z-index: 1 unless @z-index

#logo
  z-index: 20
  position: absolute
#logo2
  position: absolute

body
  color: red
  ul
    li
      color: blue
      a
        background-color: @color

//插值(Interpolation)
vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

border-radius()
  vendor('border-radius', arguments)

box-shadow()
  vendor('box-shadow', arguments)

button
  border-radius 1px 2px / 3px 4px

table
  for row in 1 2 3 4 5
    tr:nth-child({row})
      height: 10px * row

//运算符(Operators)
pad(types = padding, n = 5px)
  if padding in types
    padding n
  if margin in types
    margin n

body
  pad()

body
  pad(margin)

body
  pad(padding margin, 10px)

  
  
  
  
  
  
  
  
  
  
  
  
  
  

